/* CSS Document */

textarea {
    width: 350px;
    height: 150px;
}

.main {
    position: relative;
    line-height: 20px;
}

.form {
    margin: 10px;
    padding: 10px 10px 10px 25px;
    border: 1px solid #c4c4c4;
    width: 400px;
    height: auto;
    border-radius: 5px;
    box-sizing: border-box;
}

.but {
    margin-right: 8px;
    margin-top: 10px;
    float: right;
}

.status {
    display: inline-block;
    color: red;
    transition-property: opacity;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-top: 8px;
}

.status_show {
    opacity: 1;
}

.status_hide {
    opacity: 0;
}

.time {
    border-bottom: 1px solid #c4c4c4;
    float: left;
    min-width: 80px;
    padding: 10px 5px;
    height: 20px;
    background-color: rgb(255, 239, 210);
}

.user {
    border-bottom: 1px solid #c4c4c4;
    min-width: 100px;
    padding: 10px 5px;
    background-color: rgb(255, 239, 210);
    height: 20px;
    text-align: right;
}

.email {
    border-bottom: 1px solid #c4c4c4;
    float: left;
    min-width: 80px;
    padding: 10px 5px;
    background-color: rgb(255, 239, 210);
    height: 20px;
}

.message {
    width: 400px;
    box-sizing: border-box;
    /*    border: 1px solid black;*/
    padding: 10px 5px;
    background-color: rgb(210, 245, 255);
}

.container {
    width: 400px;
    box-sizing: border-box;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin: 10px;
}

.clearfix::after {
    clear: both;
    display: table;
    content: "";
}

li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

.messages {
    margin: 20px;
    padding: 0;
}